name: CI

on:
  push:
    branches: [ dev, main ]   # run CI on pushes to dev
  pull_request:
    branches: [ main ]        # and on PRs targeting main

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest tests
        run: pytest -q

      - name: Run unittest tests
        run: python -m unittest discover -s tests -p "test_*.py"

      - name: Run pipeline script (smoke test)
        run: python ml_pipeline.py

  build-and-push-docker:
    # Only run this job AFTER build-test, and ONLY on main
    needs: build-test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repo
      # we need the code again in this job
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/gitactions-lab:latest